[gcode_macro PunputShaping]
# CONFIGURE THE BELOW VARIABLES
variable_api: "local"														                #API options: icanhazdadjoke, official, norris, jokeapi, local
variable_punputshaping_loop_duration: 900						            #15 minutes default
variable_punputshaping_loop_drift: 30							              #30 seconds default
variable_only_while_printing: True                              #Execute only during state of Printing
variable_start_at_boot: True                                    #Begin punput shaping at print start

# DO NOT RECONFIGURE THE BELOW VARIABLES
variable_rng_value: 900                                         #Same starting value as loop_duration
gcode:
  {% set api = printer["gcode_macro PunputShaping"].api | lower %}

  {% if  api == "icanhazdadjoke" %}    
    RUN_SHELL_COMMAND CMD=punput_icanhazdadjoke
  {% elif  api == "official" %}    
    RUN_SHELL_COMMAND CMD=punput_official
  {% elif  api == "norris" %}    
    RUN_SHELL_COMMAND CMD=punput_norris
  {% elif  api == "jokeapi" %}    
    RUN_SHELL_COMMAND CMD=punput_jokeapi
  {% elif  api == "local" %}    
    RUN_SHELL_COMMAND CMD=punput_local
  {% else %}
    RESPOND PREFIX="⚠️" MSG="Unknown API chosen! {api} does not exist"
  {% endif %}

#UPDATE_DELAYED_GCODE ID=1										#Begin loop
#UPDATE_DELAYED_GCODE ID=PunputShaping_Loop DURATION=0			#Execute to cancel
[delayed_gcode PunputShaping_Loop]
gcode:
  {% if ((printer.idle_timeout.state == "Printing") and (printer["gcode_macro PunputShaping"].only_while_printing | lower == 'true')) or (printer["gcode_macro PunputShaping"].only_while_printing | lower == 'false') %}
    _PUN_RNG
    PunputShaping
    #RESPOND PREFIX="⚠️" MSG="Updating PunputShaping_Loop: {printer["gcode_macro PunputShaping"].rng_value}"
    UPDATE_DELAYED_GCODE ID=PunputShaping_Loop DURATION={printer["gcode_macro PunputShaping"].rng_value}
  {% else %}
    #RESPOND PREFIX="⚠️" MSG="Skipping PunputShaping_Loop. Printer state: {printer.idle_timeout.state == "Printing"} , variable_only_while_printing:{printer["gcode_macro PunputShaping"].only_while_printing}"
  {% endif %}

# Begins at Klipper start if "start_at_boot" is true.
[delayed_gcode PUNPUT_START_AT_BOOT]
initial_duration: 1
gcode:
  {% if (printer["gcode_macro PunputShaping"].start_at_boot |lower == 'true') %}
    RESPOND PREFIX="😁" MSG="PunputShaping_Loop start_at_boot: {printer["gcode_macro PunputShaping"].start_at_boot}"
    UPDATE_DELAYED_GCODE ID=PunputShaping_Loop DURATION={printer["gcode_macro PunputShaping"].rng_value}
  {% endif %}

[gcode_shell_command punput_icanhazdadjoke]
command: python ../printer_data/config/punput_shaping/punput_shaper.py icanhazdadjoke
timeout: 5

[gcode_shell_command punput_official]
command: python ../printer_data/config/punput_shaping/punput_shaper.py official
timeout: 5

[gcode_shell_command punput_norris]
command: python ../printer_data/config/punput_shaping/punput_shaper.py norris
timeout: 5

[gcode_shell_command punput_jokeapi]
command: python ../printer_data/config/punput_shaping/punput_shaper.py jokeapi
timeout: 5

[gcode_shell_command punput_local]
command: python ../printer_data/config/punput_shaping/punput_shaper.py local
timeout: 5

[gcode_macro _PUN_RNG]
gcode:
  {% set base = printer["gcode_macro PunputShaping"].punputshaping_loop_duration %}
  {% set offset = range( -1 * printer["gcode_macro PunputShaping"].punputshaping_loop_drift , printer["gcode_macro PunputShaping"].punputshaping_loop_drift + 1 )|random %}
  {% set new_dur = base + offset %}
  #RESPOND PREFIX="⚠️" MSG="Updating _PUN_RNG loop duration: {new_dur}"
  SET_GCODE_VARIABLE MACRO=PunputShaping VARIABLE=rng_value VALUE={new_dur|int}