[gcode_macro _PUNPUTSHAPING_VARS]
variable_api: "local"                                           #API options: icanhazdadjoke, official, norris, jokeapi, local
variable_loop_at_startup: True                                       #Begin punput shaping at print start
variable_loop_drift: 30                                         #30 seconds default
variable_loop_duration: 900                                     #15 minutes default
variable_only_while_printing: True                              #Execute only during state of Printing
gcode:

[gcode_macro PUNPUTSHAPING]
gcode:
  {% set api = printer["gcode_macro _PUNPUTSHAPING_VARS"].api | lower %}

  {% if  api == "icanhazdadjoke" %}    
    RUN_SHELL_COMMAND CMD=punput_icanhazdadjoke
  {% elif  api == "official" %}    
    RUN_SHELL_COMMAND CMD=punput_official
  {% elif  api == "norris" %}    
    RUN_SHELL_COMMAND CMD=punput_norris
  {% elif  api == "jokeapi" %}    
    RUN_SHELL_COMMAND CMD=punput_jokeapi
  {% elif  api == "local" %}    
    RUN_SHELL_COMMAND CMD=punput_local
  {% else %}
    RESPOND PREFIX="⚠️" MSG="Unknown API chosen! {api} does not exist"
  {% endif %}

[gcode_macro _PUN_RNG]
variable_rng_value: 1                                         #Will be updated upon first loop run
gcode:
  {% set base = printer["gcode_macro _PUNPUTSHAPING_VARS"].loop_duration %}
  {% set offset = range( -1 * printer["gcode_macro _PUNPUTSHAPING_VARS"].loop_drift , printer["gcode_macro _PUNPUTSHAPING_VARS"].loop_drift + 1 ) | random %}
  {% set new_dur = base + offset %}
  #RESPOND PREFIX="⚠️" MSG="Updating _PUN_RNG loop duration: {new_dur}"
  SET_GCODE_VARIABLE MACRO=_PUN_RNG VARIABLE=rng_value VALUE={new_dur|int}

#UPDATE_DELAYED_GCODE ID=PUNPUTSHAPING_LOOP DURATION=1      #Begin loop
#UPDATE_DELAYED_GCODE ID=PUNPUTSHAPING_LOOP DURATION=0      #Execute to cancel
[delayed_gcode PUNPUTSHAPING_LOOP]
gcode:
  {% set only_while_printing = printer["gcode_macro _PUNPUTSHAPING_VARS"].only_while_printing | lower == 'true' %}
  {% if not only_while_printing or printer.idle_timeout.state == "Printing" %}
    _PUN_RNG
    PunputShaping
    #RESPOND PREFIX="⚠️" MSG="Updating PUNPUTSHAPING_LOOP: {printer["gcode_macro _PUN_RNG"].rng_value}"
    UPDATE_DELAYED_GCODE ID=PUNPUTSHAPING_LOOP DURATION={printer["gcode_macro _PUN_RNG"].rng_value}
  {% else %}
    #RESPOND PREFIX="⚠️" MSG="Skipping PUNPUTSHAPING_LOOP. Printer state: {printer.idle_timeout.state == "Printing"} , variable_only_while_printing:{printer["gcode_macro _PUNPUTSHAPING_VARS"].only_while_printing}"
  {% endif %}

# Begins at Klipper start if "loop_at_startup" is true.
[delayed_gcode PUNPUT_ON_STARTUP]
initial_duration: 1
gcode:
  {% if (printer["gcode_macro _PUNPUTSHAPING_VARS"].loop_at_startup | lower == 'true') %}
    _PUN_RNG
    RESPOND PREFIX="😁" MSG="PUNPUTSHAPING_LOOP loop_at_startup: {printer["gcode_macro _PUNPUTSHAPING_VARS"].loop_at_startup}"
    UPDATE_DELAYED_GCODE ID=PUNPUTSHAPING_LOOP DURATION={printer["gcode_macro _PUN_RNG"].rng_value}
  {% else %} 
    RESPOND PREFIX="⚠️" MSG="PUNPUTSHAPING_LOOP loop_at_startup: {printer["gcode_macro _PUNPUTSHAPING_VARS"].loop_at_startup}"
  {% endif %}
  #RESPOND PREFIX="🗒️" MSG="PUNPUTSHAPING_LOOP only_while_printing: {printer["gcode_macro _PUNPUTSHAPING_VARS"].only_while_printing}"

[gcode_shell_command punput_icanhazdadjoke]
command: python ../printer_data/config/punput_shaping/punput_shaper.py icanhazdadjoke
timeout: 5

[gcode_shell_command punput_official]
command: python ../printer_data/config/punput_shaping/punput_shaper.py official
timeout: 5

[gcode_shell_command punput_norris]
command: python ../printer_data/config/punput_shaping/punput_shaper.py norris
timeout: 5

[gcode_shell_command punput_jokeapi]
command: python ../printer_data/config/punput_shaping/punput_shaper.py jokeapi
timeout: 5

[gcode_shell_command punput_local]
command: python ../printer_data/config/punput_shaping/punput_shaper.py local
timeout: 5